# Sample gitconfig
#

[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[push]
    default = current
[color]
    ui = auto
[core]
    editor = nvim
    pager = "git-less"
    excludesfile = ~/.gitignore
[alias]
    loggraph  = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset'
    lg        = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset'

    logall    = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset' --all

    logorigin = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset' origin/master~2..
    lo        = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset' origin/master~2..

    logrange  = log --graph --pretty=format:'%Cred%h%Creset %s %Cred%d%Creset %Cgreen%an%Creset - %C(bold blue)(%cr)%Creset'

    pullpf = pull --ff-only --prune
    ppf    = pull --ff-only --prune

    rebase-latest-master = !REF=$(git symbolic-ref --short HEAD) && git checkout master && git pull --ff-only && git checkout "$REF" && git rebase master
    rlm                  = !REF=$(git symbolic-ref --short HEAD) && git checkout master && git pull --ff-only && git checkout "$REF" && git rebase master


    b   = branch
    brn = branch --no-merged
    brm = branch --merged
    co  = checkout
    st  = status
    rb  = rebase
    cp  = cherry-pick


[merge]
    tool = vimdiff
	ff = false
[pager]
	log = diff-highlight | git-less
	show = diff-highlight | git-less
	diff = diff-highlight | git-less
[interactive]
	diffFilter = diff-highlight
